<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KMOOC HTML5</title>
</head>
<body>
<div class="container">
  <header class="header">
    <div id="header-image">
      <img src="assets/images/header.jpg" alt="KMOOC">
    </div>
    <a class="link-title" href="/">KMOOC HTML5</a>
  </header>
  <nav class="menu">
    <a routerLink="fooldal">Főoldal</a> &nbsp; &nbsp; &nbsp;
    <a routerLink="kurzus">Kurzus</a> &nbsp; &nbsp; &nbsp;
    <a routerLink="kapcsolat">Kapcsolat</a>
  </nav>
  <aside>
    <h1>Csatlakozott intézmények</h1>
    <ul>
      <li>Budapesti Műszaki Egyetem</li>
      <li>Budapesti Corvinus Egyetem</li>
      <li>Szegedi Tudományegytem</li>
      <li>Debreceni Egyetem</li>
      <li>Óbudai Egyetem</li>
      <li>...</li>
    </ul>
  </aside>
  <article class="main">
    <router-outlet></router-outlet>
  </article>
  <footer>
    &copy; 2020 KMOOC HTML5 gyakorlás &nbsp;<span class="separator">|</span> Pap Róbert
  </footer>
</div>
</body>
</html>
