<div id="home-image">
  <img src="assets/images/home-page-image.png" alt="KMOOC">
</div>
<p>A MOOC a Massive Open Online Courses rövidítése, ahol a „massive” a tömegoktatási célt, az „open” az összes oktatási anyag szabad hozzáférhetőségét, míg az „online” a tetszőleges böngészővel, tetszőleges számítógépen vagy mobil eszközön történő elérhetőséget jelenti.</p>
<p>A MOOC egyik fő célja, hogy nagyobb tömegek számára legyenek elérhetőek a felsőoktatás kurzusai. A lehetőség mindenki számára nyitott, a kurzusok nem helyhez kötöttek, a tananyag elsajátításának ütemét a hallgató szabályozza.</p>
